Repository ironcore-dev/ceph-provider, pull requests merged in 2022-08, with the labels that each got.

#23 Extend `VolumeReconciler` tests
  controllers/volume_controller.go
  controllers/volume_controller_test.go
Labels: enhancement, size/L, controllers

#24 Initial documentation setup
  .github/workflows/publish-docs.yml
  Makefile
  docs/Dockerfile
  docs/README.md
  docs/architecture/README.md
  docs/assets/favicon.png
  docs/assets/logo.png
  docs/development/setup.md
  docs/requirements.txt
  docs/usage/README.md
  mkdocs.yml
Labels: documentation, enhancement, size/L

#32 Add missing RBAC for `ImagePopulator` and `Volume` controller
  config/rbac/role.yaml
  controllers/imagepopulator_controller.go
  controllers/volume_controller.go
Labels: bug, size/M, controllers

#33 Fixed missing rbac group
  config/rbac/role.yaml
  controllers/imagepopulator_controller.go
  controllers/volume_controller.go
Labels: bug, size/L, controllers
