Repository ironcore-dev/ceph-provider, pull requests merged in 2022-09, with the labels that each got.

#37 Restructured architecture documentation
  README.md
  controllers/imagepopulator_controller_test.go
  docs/README.md
  docs/architecture/README.md
Labels: documentation, enhancement, size/M, controllers

#38 ImagePopulatorReconciler refactoring
  controllers/imagepopulator_controller.go
Labels: enhancement, size/L, controllers

#43 Usage guide documentation
  docs/development/setup.md
  docs/usage/README.md
Labels: documentation, size/L

#46 Reconcile only `VolumePool` created by `VolumePoolReconciler`
  controllers/volumepool_controller.go
  controllers/volumepool_controller_test.go
Labels: bug, size/M, controllers

#47 Describe image population
  README.md
  docs/README.md
  docs/architecture/README.md
  docs/usage/README.md
Labels: documentation, enhancement, size/L

#52 Enforce vault version v1.10.6
  go.mod
  go.sum
Labels: enhancement, size/XL, chore

#53 Fix volume deletion for populated volumes
  controllers/imagepopulator_controller.go
  controllers/imagepopulator_controller_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  main.go
Labels: bug, size/M, controllers

#63 Populator backoff
  controllers/imagepopulator_controller.go
Labels: enhancement, size/XS, controllers

#68 Bump `onmetal-api` to switch from `netaddr` to `netip`/`netipx`
  .github/workflows/golangci-lint.yml
  go.mod
  go.sum
Labels: size/S, chore

#70 Remove `CephRadosNamespace` creation
  config/rbac/role.yaml
  controllers/suite_test.go
  controllers/volume_controller.go
  controllers/volume_controller_test.go
  pkg/ceph/types.go
Labels: enhancement, size/L, controllers
