Repository ironcore-dev/ceph-provider, pull requests merged in 2023-02, with the labels that each got.

#175 Bump `onmetal-api` and `controller-utils`
  controllers/bucket_controller_test.go
  controllers/bucketpool_controller.go
  controllers/bucketpool_controller_test.go
  controllers/imagepopulator_controller_test.go
  controllers/suite_test.go
  controllers/volume_controller.go
  controllers/volume_controller_test.go
  controllers/volumepool_controller.go
  controllers/volumepool_controller_test.go
  go.mod
  go.sum
  pkg/ceph/limits.go
  pkg/ceph/limits_test.go
Labels: enhancement, size/L, controllers

#179 SSL Support for Bucket Endpoint (Rados Gateway)
  controllers/bucketpool_controller.go
  main.go
Labels: enhancement, size/M, controllers

#180 Bug fix: Snapshot not ready
  controllers/volume_controller.go
Labels: bug, size/XS, controllers

#188 Fix panic when `Snapshot` status is accessed
  controllers/volume_controller.go
Labels: bug, size/M, controllers

#191 Implement `ori-volume`
  .github/workflows/publish-docker.yml
  Dockerfile
  Makefile
  config/ori-volume/broker-rbac/auth_proxy_client_clusterrole.yaml
  config/ori-volume/broker-rbac/auth_proxy_role.yaml
  config/ori-volume/broker-rbac/auth_proxy_role_binding.yaml
  config/ori-volume/broker-rbac/auth_proxy_service.yaml
  config/ori-volume/broker-rbac/cluster_role.yaml
  config/ori-volume/broker-rbac/cluster_role_binding.yaml
  config/ori-volume/broker-rbac/kustomization.yaml
  config/ori-volume/broker-rbac/leader_election_role.yaml
  config/ori-volume/broker-rbac/leader_election_role_binding.yaml
  config/ori-volume/broker-rbac/role.yaml
  config/ori-volume/broker-rbac/role_binding.yaml
  config/ori-volume/broker-rbac/service_account.yaml
  config/ori-volume/certmanager/certificate.yaml
  config/ori-volume/certmanager/kustomization.yaml
  config/ori-volume/certmanager/kustomizeconfig.yaml
  config/ori-volume/default/kustomization.yaml
  config/ori-volume/default/manager_auth_proxy_patch.yaml
  config/ori-volume/default/manager_config_patch.yaml
  config/ori-volume/default/manager_webhook_patch.yaml
  config/ori-volume/default/webhookcainjection_patch.yaml
  config/ori-volume/kind/add-args.yaml
  config/ori-volume/kind/kustomization.yaml
  config/ori-volume/kind/patch-manager.yaml
  config/ori-volume/kind/poollet-rbac/delete_service_account.yaml
  config/ori-volume/kind/poollet-rbac/kustomization.yaml
  config/ori-volume/manager/kustomization.yaml
  config/ori-volume/manager/manager.yaml
  config/ori-volume/poollet-rbac/kustomization.yaml
  config/ori-volume/poollet-rbac/role.yaml
  config/ori-volume/poollet-rbac/role_binding.yaml
  config/ori-volume/poollet-rbac/service_account.yaml
  config/ori-volume/prometheus/kustomization.yaml
  config/ori-volume/prometheus/monitor.yaml
  config/ori-volume/webhook/kustomization.yaml
  config/ori-volume/webhook/kustomizeconfig.yaml
  config/ori-volume/webhook/manifests.yaml
  config/ori-volume/webhook/service.yaml
  config/rbac/role.yaml
  controllers/imagepopulator_controller.go
  controllers/imagepopulator_controller_test.go
  go.mod
  go.sum
  hack/validate_kustomize.sh
  main.go
  ori/volume/api/v1alpha1/common_types.go
  ori/volume/apiutils/apiutils.go
  ori/volume/cmd/volume/app/app.go
  ori/volume/cmd/volume/main.go
  ori/volume/server/server.go
  ori/volume/server/volume.go
  ori/volume/server/volume_create.go
  ori/volume/server/volume_delete.go
  ori/volume/server/volume_list.go
  ori/volume/server/volumeclass_list.go
Labels: enhancement, controllers, size/XXL
