Repository ironcore-dev/ceph-provider, pull requests merged in 2023-01, with the labels that each got.

#153 Bump project to use k8s version 1.26
  Makefile
  controllers/imagepopulator_controller_test.go
  controllers/volume_controller.go
  controllers/volumepool_controller.go
  controllers/volumepool_controller_test.go
  go.mod
  go.sum
Labels: enhancement, controllers, size/XXL

#155 Emit event if volume is smaller than image snapshot
  config/rbac/role.yaml
  controllers/events.go
  controllers/suite_test.go
  controllers/volume_controller.go
  controllers/volume_controller_test.go
  go.sum
  main.go
Labels: enhancement, size/L, controllers

#149 `Bucket` and `BucketPool` controller
  config/rbac/role.yaml
  controllers/bucket_controller.go
  controllers/bucket_controller_test.go
  controllers/bucketpool_controller.go
  controllers/bucketpool_controller_test.go
  controllers/common.go
  controllers/suite_test.go
  controllers/volume_controller.go
  controllers/volume_controller_test.go
  controllers/volumepool_controller.go
  controllers/volumepool_controller_test.go
  docs/development/setup.md
  go.mod
  go.sum
  main.go
  pkg/rook/config.go
Labels: documentation, enhancement, controllers, size/XXL

#163 Improve Populator error handling
  controllers/imagepopulator_controller.go
Labels: bug, size/XS, controllers
