Repository ironcore-dev/ceph-provider, pull requests merged in 2023-09, with the labels that each got.

#316 Add integraton tests
  .github/release-drafter.yml
  .github/workflows/integration-test.yml
  Makefile
  go.mod
  go.sum
  integration/integration_suite_test.go
  integration/volume_craete_integration_test.go
Labels: enhancement, size/L, integration-tests

#320 Add go toolchain to the `go.mod` file
  go.mod
  integration/volume_craete_integration_test.go
Labels: size/S, chore, integration-tests

#349 Add Integration tests for `CreateVolume`
  Makefile
  go.mod
  go.sum
  integration/integration_suite_test.go
  integration/volume_craete_integration_test.go
  integration/volume_create_integration_test.go
Labels: size/L, integration-tests

#357 Add integration test for `ListVolumes`
  integration/volume_list_integration_test.go
Labels: enhancement, size/L, integration-tests

#358 Add integration tests for volume `Deletion`
  integration/volume_delete_integration_test.go
Labels: enhancement, size/M, integration-tests
