Repository ironcore-dev/ceph-provider, pull requests merged in 2024-02, with the labels that each got.

#452 Update microceph version to latest stable
  .github/workflows/integration-test.yml
Labels: size/XS, integration-tests

#466 Update microceph workflow download version to `quincy/stable`
  .github/workflows/integration-test.yml
Labels: enhancement, size/XS, integration-tests

#470 Add reuse workflow
  .github/workflows/reuse.yml
Labels: size/S, chore
